<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
        <body>
<div class="container mt-5">
   <div class="col-md-6">

      <form action="" method="post" enctype="multipart/form-data">
          
          <input name="prod_name" type="text" placeholder="Product name" class="form-control" required>
          <br>
          <input name="prod_price" type="number" placeholder="Price" class="form-control" required>
          <br>
          <input name="prod_category" type="text" placeholder="Category" class="form-control" required>
          <br>
          <input name="prod_qty" type="number" placeholder="Quantity" class="form-control" required>
          <br>
          <input name="prod_img" type="file" class="form-control" required>
          <br>
          <textarea name="prod_desc" placeholder="description" class="form-control" required></textarea>
          <br>
          <input type="submit" value="Save" class="btn btn-success">
      </form>
   </div>
</div>








        </body>
</html>

